
.grid {
    display: grid;
    grid-template-rows: repeat(20, 3fr);
    grid-template-columns: repeat(40, 1fr);

    height: 85vh;
    width: 95%;
    margin: .5em auto;

}

.tile {
    border: 1px solid #525252;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile.wall {
    background-color: #242424;
}

.tile.visited {
    background-color: #5568e0;
    /* transition-property: background-color;
    transition-duration: 3s; */
}