

.header {
    background-color: #a8a8e4;
    color: #ffffff;
    padding: .5em;

    display: flex;
    align-items: center;
}

.tools {
    display: flex;
    align-items: center;
    margin-left: 8em;
    padding: 0 2em;
    border-left: 3px solid #303030;
}

#make-wall {
    width: 7em;
    height: 2rem;
    cursor: pointer;
}